.message {
    padding: 5px;
    margin: 5px;
    width: fit-content;
}

.message__user {
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.message__userCard {
    background-color: lightsalmon !important;
}
.message__guestCard {
    background-color:lightgray !important;
}